*{
    direction: rtl;
    text-align: right;
}

.icon-container {
    background-color: black;
    display: flex;
    gap: 15px; 
    align-items: center;
}
.icon {
    font-size: 20px;
    color: #fff;
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 0.3s ease;
    background-color: black !important;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: -3px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: black !important;
}